peewee==3.17.0 ; python_version >= "3.11" and python_version < "3.13"
pygame==2.5.2 ; python_version >= "3.11" and python_version < "3.13"
vgame @ git+https://github.com/virashu/pygametest@0.1.0 ; python_version >= "3.11" and python_version < "3.13"
