peewee==3.17.1 ; python_version >= "3.10" and python_version < "3.13"
pygame==2.5.2 ; python_version >= "3.10" and python_version < "3.13"
vgame @ git+https://github.com/virashu/pygametest ; python_version >= "3.10" and python_version < "3.13"
